
<div class ="container">
<h1>My personal Home Page</h1>
<p>You can read more about, or checkout my blog.</p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">My Instagram</h5>
    <p class="card-text">I have a bunch of food pictures in my Instagram, come check them out!.</p>
    <a href="https://www.instagram.com/suneh_n/" class="btn btn-primary">Instagram!</a>
  </div>
</div>
<%= link_to "About me", about_path %>
</div>

